<!DOCTYPE html>
<html>
  <head>
    <title>Videos</title>
  </head>
  <body>
    <h1>This is a video</h1> 
    <audio controls>
      <source src="willem.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <%= link_to 'Transcribe This', video_transcriptions_path(@video) %> 
    <h2>More Videos To Come ...</h2>  
      <form id="trans_text">
		Transcription <textarea type="textarea" name="transcription"></textarea>  
 		<input type="submit" value="Submit"/>
 		</div> 
 		</form> 
  </body>
</html>