<h1><%=@video.title%> </h1> 
<h2>[#] Segments</h2>
<ul class="prev_list">
	<li><%= link_to "[time]:", video_path(@video) %> Finished/Needs Review/New Transcription (other option, stars/rating system)</li>
</ul>