<head>
  <title>Videos</title>
</head>
<body>
  <h1>This is a video</h1> 

<h2>More Videos To Come ...</h2>  

<%= render "transcriptions/new", video: @video, transcription: @transcription %> 

<%= audio_tag "willem.mp3"%> 
</body> 