@import "bootstrap"; 

/* variables */

$blue: #3bbfce;
$lightgrey: #888888; 
$coral: #ffcccc; 
$lightgreen: #d8f0e0;
$grayLight: #eaeaea;

/* container */ 
.container {
  height: 100%;
  width: 70%;
}
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $coral;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#trans_text {
	margin-left: 450px;   
}

.trans_form {
	margin-left: 300px; 
	margin-top: 200px; 
}

.vid_list {
	list-style: none;
	text-align: center; 	
	li {
	  padding: 5px 0;
	}
}